/* Variables de la paleta de colores */
:root {
  --amarillo-ruf: #f9d236;
  --asfalto-nocturno: #0d0d0d;
  --azul-lemans: #004c99;
  --azul-mulsanne: #002856;
  --bronze-quemado: #8b4000;
  --ferrari-nocturno: #5a0000;
  --gris-dunlop: #333333;
  --oro-vintage: #d4af37;
  --purpura-amana: #1e0030;
  --text-color: #e0e0e0;
  --verde-sarthe: #00a651;
}

::selection {
  background-color: var(--amarillo-ruf);
  color: #000;
}

body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100dvh;
  margin: 0;
  background-color: var(--asfalto-nocturno);
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--azul-mulsanne);
}

h4 {
  color: var(--text-color);
  margin-bottom: 0;
}

/* Contenedor del chat */
.chat-container {
  padding: 0 15px;
  height: 95dvh;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 2px solid var(--azul-mulsanne);
  border-radius: 15px;
  background-color: var(--gris-dunlop);
}

.title-chat {
  color: var(--bronze-quemado);
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 70%;
  box-shadow: 3px 2px 5px #0000003f;
  line-height: 1.2lh;
}

/* Caja del chat del usuario */
.msg-box-user {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5px;

  & img.user-image {
    background-color: var(--ferrari-nocturno);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: -3px 2px 5px #0000003f;
  }
}

.user-message {
  background-color: var(--ferrari-nocturno);
  color: var(--text-color);
  box-shadow: -3px 2px 5px #0000003f;
  margin-left: auto;
}

/* Caja del chat del bot */
.msg-box-bot {
  display: flex;
  align-items: center;
  gap: 5px;

  & img.bot-image {
    background-color: var(--azul-lemans);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 3px 2px 5px #0000003f;
  }
}

.bot-message {
  background-color: var(--azul-lemans);
  color: var(--text-color);
  margin-right: auto;
}

/* Entrada para el mensaje */
.input-container {
  display: flex;
}

#mensaje {
  flex: 1;
  padding: 10px;
  outline: none;
  border: 2px solid var(--ferrari-nocturno);
  background-color: var(--gris-dunlop);
  color: var(--text-color);
  border-radius: 25px;
  margin-right: 5px;
}

button {
  background-color: var(--ferrari-nocturno);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease;

  &.btn-send {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &:hover {
    background-color: var(--azul-lemans);

    & img {
      filter: brightness(0) invert(1);
      transform: perspective(1000px) rotateX(360deg);
      transition: all 0.8s ease;
    }
  }
}

/* Atajos */
.buttons-container {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  padding: 10px 0;
  overflow-x: auto;

  & button {
    background-color: var(--ferrari-nocturno);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-wrap: nowrap;

    &:hover {
      color: var(--amarillo-ruf);
    }
  }
}
