:root {
  --asfalto-nocturno: #0d0d0d;
  --azul-lemans: #004c99;
  --azul-mulsanne: #002856;
  --bronze-quemado: #8b4000;
  --ferrari-nocturno: #5a0000;
  --gris-dunlop: #333333;
  --oro-vintage: #4c4c00;
  --purpura-amana: #1e0030;
  --text-color: #e0e0e0;
  --verde-sarthe: #1c2e14;
}

body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--asfalto-nocturno);
}

.chat-container {
  background-color: var(--azul-mulsanne);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--bronze-quemado);
  border-radius: 5px;
  background-color: var(--gris-dunlop);
}

.titulo_h1 {
  color: var(--bronze-quemado);
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 70%;
}

.user-message {
  /* background-color: var(--purpura-amana); */
  background-color: var(--ferrari-nocturno);
  color: var(--text-color);
  margin-left: auto;
}

.bot-message {
  background-color: var(--azul-lemans);
  color: var(--text-color);
  margin-right: auto;
}

.input-container {
  display: flex;
}

#mensaje {
  flex: 1;
  padding: 10px;
  outline: none;
  border: 1px solid var(--purpura-amana);
  background-color: var(--gris-dunlop);
  color: var(--text-color);
  border-radius: 20px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: var(--oro-vintage);
  color: var(--text-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: var(--verde-sarthe);
  }
}
