<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>24LeMansbot</title>
</head>

<body>
    <div class="chat-container">
        <h1><span class="titulo_h1">24LeMans</span>bot</h1>
        <div class="chat-messages" id="chatbox">
            <div class="msg-box-bot">
                <img src="../static/assets/robot.svg" alt="image" width="32" class="image bot-image">
                <div class="message bot-message">¡Hola! Soy 24LeMansbot. ¿Qué deseas saber sobre la carrera?</div>
            </div>
        </div>
        <div class="input-container">
            <input type="text" id="mensaje" placeholder="Escribe tu mensaje..." autocomplete="off">
            <button onclick="enviarMensaje()" class="btn-send"><img src="../static/assets/send.svg" alt="send"
                    width="32"></button>
        </div>
        <h4>Atajos:</h4>
        <div class="buttons-container">
            <button class="btn-shortcut" data-message="las categorias son">#Categorias</button>
            <button class="btn-shortcut" data-message="primer lugar">#Primer lugar</button>
            <button class="btn-shortcut" data-message="marcas de autos">#Marcas</button>
            <button class="btn-shortcut" data-message="quienes compiten">#Equipos</button>
        </div>
    </div>

    <script src="../static/js/app.js"></script>
</body>

</html>